<label for="datepicker">Datepicker</label>
<input id="datepicker" type="text" [formControl]="datepicker">

<code>
    <ul>
        <li>Valid ? {{ control.valid }}</li>
        <li>Dirty ? {{ control.dirty }}</li>
        <li>Touched ? {{control.touched }}</li>
    </ul>
</code>