<div class="content">

    <form [formGroup]="form">
        <input type="number" formControlName="num">
        <br>
        <app-datepicker formControlName="datepicker"></app-datepicker>
    </form>

    <p *ngIf="form.valid">FORM VALID</p>
    <p *ngIf="!form.valid">FORM INVALID</p>

    <div>{{ val$ | async }}</div>
 
</div>
